.MuiCard-root {
  height: 100%;
}

.MuiCardActionArea-root .MuiCardActionArea-focusHighlight {
  display: none;
}

.MuiPaper-root.MuiCard-root.full-height:hover {
  border-top: solid 2px #EEEEEE;
  border-left: solid 2px #EEEEEE;
  cursor: pointer;
}

.item-media {
  width: 100%;
  height: 200px;
}

.media-wrapper {
  //padding: 5px 10px;
}

.MuiCardActionArea-root {
  height: 100%;
}

.MuiCardContent-root {
  h2 {
    font-size: 15px;
  }
}

.news-meta {
  font-size: 10px;
  color: #aaaaaa;
}

.news-item-link {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.news-item-container {
  display: inline-block;
  padding: 10px;
}